@import "../../../_css/common";

.form {
  margin-bottom: var(--base);
  margin-top:30px;
  display: flex;
  flex-direction: column;
  gap:24px;
  align-items: flex-start;
  width: 100%
  }


.submit {
  width:100%;
}

.message {
  margin-bottom: var(--base);
}
